<h2>¡Bienvenido a ECIWISE!</h2>
Hola {{name}},
<br><br>  
¡Gracias por unirte a Wise Alert!
<br><br>
Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.
<br><br> 
Saludos cordiales,
<br>
El equipo de ECIWISE
<br><br>
<i>Este es un correo automático, por favor no respondas a este mensaje.</i>