<h2>Nuevo material disponible</h2>
<p>Hola {{name}},</p>
<p>Se ha subido el material <b>{{titulo}}</b> en la asignatura <b>{{materia}}</b>.</p>
<p>Descripción: {{description}}</p>
<p>Visita ECIWISE+ para acceder al material.</p>
<p>Saludos, El equipo de ECIWISE+</p>
<p><i>Este es un correo automático, por favor no respondas a este mensaje.</i></p>
