<h2>¡Bienvenido a ECIWISE!</h2>
Hola {{name}},
<br><br>
Bienvenido a Wise Alert. Tu cuenta ha sido creada exitosamente.
<br><br>
Aquí tienes tus credenciales de acceso:
<br>    <b>Usuario:</b> {{email}}
<br><br>
Por favor, cambia tu contraseña en el primer inicio de sesión para garantizar la seguridad de tu cuenta.
<br><br>  
¡Gracias por unirte a Wise Alert!
<br><br>
Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.
<br><br> 
Saludos cordiales,
<br>
El equipo de Wise Alert
<br><br>
<i>Este es un correo automático, por favor no respondas a este mensaje.</i>